@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-family: 'Tiny5', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

.game-container {
    width: 1000px;
    height: 800px;
    background-color: #222;
    position: relative;
    overflow: hidden;
}

#player {
    width: 80px;
    height: 120px;
    background-color: red;
    position: absolute;
}

.obstacle {
    width: 80px;
    height: 120px;
    background-color: blue;
    position: absolute;
}